@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,500;0,700;0,900;1,700&family=Unbounded:wght@900&display=swap');

body {
  background: #12151C;
  text-align: left;
  color: white;
  width: 25em;
  margin: 100px auto;
  padding-right: 20px;
  font-family: Inter Tight;
}
button,input,textarea {
  font-family: Inter Tight;
  background: #262b3b;
  border: none;
  border-radius: 0.125em;
  color: white;
  height: 36px;
  outline: none;
  padding-left: 8px;
  padding-right: 6px;
  max-height: 200px;
  font-size: 16px;
  margin: 6px;
  width: 100%
}
span.paybar {
  width: 106%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
textarea {
  resize: vertical;
  overflow: hidden;
  min-height: 64px;
}
@media only screen and (max-device-width: 830px) {
  body { width: 90%;zoom:2; padding-right: 30px }
  textarea { height: 72px }
}
#message { padding-top: 8px}
#submit {
  background: #004cff;
  width: 45%;
  border-radius: 0.125rem;
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
#pay {
  line-height: 36px;
  text-align: center;
}
.clicked {
  filter: invert(1);
}
small,::placeholder {
  color: #70799b;
  opacity: 1;
  margin-left: 6px;
}
label {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  margin-left: 6px;
}
svg,img {
  height: 75%;
  vertical-align: middle;
}
.qr {
  margin: 7px 7px 7px 0px;
  width: 100%;
}
#showAmount {
  vertical-align: middle;
  width: 24px;
}
blockquote {
  background: #262b3b;
  border: none;
  border-radius: 0.125em;
  color: white;
  outline: none;
  font-size: 16px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 7px;
  min-height: 24px;
  padding-bottom: 7px;
  margin: 6px;
  width: 100%
  word-break: break-all;
  word-wrap: break-word;
}
iframe {
  height: 30px;
}
label {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
b,a {
  color: #EF4444;
}
b {
  font-weight: 800;
  text-shadow: 0px 2px 4px black;
  filter: drop-shadow(2px 4px 6px black);
}
h2 {
  text-shadow: 0px 2px #004cff;
  font-weight: 800;
  text-align: left;
  font-family: Unbounded;
  margin-left: 6px;
  width: 100%;
}
